!!! 5
%html
  %head
    %meta{charset: "UTF-8"}
    %title= t(:title)
  %body
    %h1= t(:title)
    %a{href: "/create"}= t(:create_room)
    %h2= t(:game_list)
    %table
      %thead
        %th
          %td= t(:'room/name')
          %td= t(:'room/players')
          %td= t(:'room/viewers')
          %td
      %tbody
        - @rooms.each do |room|
          %tr
            %td= room.name
            %td
              %span= room.players.size
              = "/"
              %span= GrabFeeling::Config["operation"]["max_players"]
            %td 0/0
            %td
              %a{href: "/g/#{room.unique_id}"}= t(:'room/join_view')
