!!! 5
%html
  %head
    %meta{charset: "UTF-8"}
    %title= t(:title)

    %script{type: "text/javascript"}= @transition
    - if (_ = GrabFeeling::Config["js_libraries"]) && _["jquery"]
      %script{src: GrabFeeling::Config["js_libraries"]["jquery"]}
    - else
      %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"}

    - if (_ = GrabFeeling::Config["js_libraries"]) && _["templou"]
      %script{src: GrabFeeling::Config["js_libraries"]["templou"]}
    - else
      %script{src: "https://raw.github.com/hinassan/templou/master/templou.js"}

    %script{src: "/js/i18n.js"}
    %script{src: "/js/grab_feeling.js"}

    %link{rel: "stylesheet", type: "text/css", href: "/css/grab_feeling.css"}

    - if @is_mobile
      %link{rel: "stylesheet", type: "text/css", href: "/css/ipad_grab_feeling.css"}
      %meta{name: "apple-mobile-web-app-capable", content: "yes"}
  %body
    %div#cursors
    %div#container
      %div#left
        %header
          %div#topic
          %div#remaining_timer --:--
        %div#clear
        %canvas#the_canvas{width: 750, height: 550}
        %div#drawing_tools
          %div.drawing_tool#colors
          %div.drawing_tool
            %input.width_button#width_1{type: 'button', value: t('ui.width.one')}
            %input.width_button#width_2{type: 'button', value: t('ui.width.two')}
            %input.width_button#width_3{type: 'button', value: t('ui.width.three')}
            %input.width_button#width_5{type: 'button', value: t('ui.width.five')}
            %input.width_button#width_10{type: 'button', value: t('ui.width.ten')}
          %div.drawing_tool
            %input.drawing_tool#clear_button{type: 'button', value: t('ui.clear')}
        %div#player_list
          %ul
          %span{templou: 'player'}
            %span.player_name= "name"
            = "("
            %span.point= "0"
            = ")"
            %div.player_menu
              %ul.admin_tool
                %li
                  %input.add_op{type: 'button', value: t('ui.add_op')}
                %li
                  %input.deop{type: 'button', value: t('ui.deop')}
                %li
                  %input.kick{type: 'button', value: t('ui.kick')}
        %div#clear

      %div#right
        %div#buttons
          %p
            %input#snapshot{type: 'button', value: t('ui.snapshot')}
            %input.admin_tool#start_button{type: 'button', value: t('ui.start')}
            %form{action: "/g/#{@room.unique_id}/leave", method: "POST"}
              %input{type: "submit", name: "leave", value: t(:leave)}
        %div#logs
          %div.log#system_log
          %div#chat
            %div.log#chat_log
            %form#chat_form{action: "#"}
              %input#chat_field{type: 'text', size: '40'}
              %input{type: 'submit', value: t(:say), disabled: true}
